html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  text-align: center;
  font-size: 100%;
  min-height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvitica Neue",
    Helvetica, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  background-color: #1d1f21;
}

h1,
h2,
p {
  font-weight: 400;
}

/* Image */
/* img { max-width: 100%; height: auto; } */

/* Navigation Bar */

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #272829;
  display: flex;
  justify-content: center;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

/* Float the list items side by side */
ul.topnav li {
  float: left;
}

/* Style the links inside the list items */
ul.topnav li a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 12px 28px;
  text-decoration: none;
  transition: 0.5s;
  font-size: 12px;
  font-weight: 400;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
  background-color: #4f555c;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
  display: none;
}

/* Pages */

#page-home {
  position: relative;
  min-height: 100vh;
  background-image: url("images/33.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
}

#page {
  position: relative;
  min-height: 100vh;
}

/* Page Body */

#page-main {
  padding-bottom: 115px;
}

/* Homepage Title */

#home-title {
  margin-top: 250px;
  padding-bottom: 0;
}

.home-header {
  color: #fff;
  font-size: 6vw;
  font-weight: 500;
  margin: 0;
}

/* Homepage About */

#home-about p {
  color: #fff;
  font-size: 2vw;
  margin: 0;
}

/* Page Title */

.page-header {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

/* Content */

#content {
  margin-left: 15%;
  margin-right: 15%;
}

.pro-headshot {
  width: 300px;
  max-width: 90%;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.link-icons {
  width: 200px;
  max-width: 90%;
  height: 200px;;
  object-fit: cover;
  border-radius: 50%;
}

.h-heading {
  font-weight: 500;
  font-size: 25px;
  color: #fff;
}

.h-section {
  font-weight: 500;
  font-size: 18px;
  text-align: justify;
  color: #fff;
}

.p-subsection {
  font-weight: 400;
  font-size: 15px;
  font-style: italic;
  text-align: justify;
  color: #fff;
}

.p-description {
  font-weight: 400;
  font-size: 15px;
  text-align: justify;
  color: #fff;
}

.a-link {
  font-weight: 500;
  font-size: 15px;
  color: #1a6dc5;
  text-decoration: none;
}

.b-description {
  font-weight: 400;
  font-size: 15px;
  text-align: justify;
  color: #fff;
}

/* Footer */

#page-footer {
  background: #272829;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 75px;
  padding-top: 10px;
}

#page-footer .copyright {
  color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 10px;
}

/* Socials */

.fa {
  padding: 15px;
  color: #626262;
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
  margin: 0px 5px;
  border-radius: 50%;
}

.fa:hover {
  background-color: #5a5a5a;
  color: #fff;
}
