html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    font-size: 100%;
    min-height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvitica Neue", Helvetica, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

h1, h2, p {
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

/* Navigation Bar */

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #272829;
    display: flex;
    justify-content: center;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 12px 28px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 14px;
    font-weight: 400;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #4f555c;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

#page {
    position: relative;
    min-height: 100vh;
    background-image: url("per1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
}

#homepage {
    padding-bottom: 115px;
}

/* Title */
#title {
    padding-top: 300px;
    padding-bottom: 0;
}

#title h1 {
    color: #000;
    font-size: 80px;
    font-weight: 500;
    margin: 0;
}

/* About */
#about {
    padding-bottom: 100px;
}

#about p {
    color: #000;
    font-size: 30px;
    margin: 0;
}

/* Footer */
#footer {
    background: #272829;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 115px;
}

#footer h2 {
    color: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
}

#footer .copyright {
    color: #fff;
    padding-top: 0px;
    padding-bottom: 0px; 
    font-size: 10px;
}

/* Socials */
.fa {
    padding: 15px;
    color: #626262;
    width: 15px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0px 5px;
    border-radius: 50%;
}

.fa:hover {
    background-color: #8d8d8d;
    color: #fff;
}