html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    font-size: 100%;
}

body {
    background: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvitica Neue", Helvetica, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

h1, h2, p {
    font-weight: 400;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 15px;
}

/* Navigation Bar */

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d4247;
    display: flex;
    justify-content: center;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 10px 28px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 15px;
    font-weight: 400;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #4f555c;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* About */

/* Footer */
footer {
    background: #272829;
}

footer h2 {
    color: #fff;
    padding-top: 30px;
    padding-bottom: 10px
}

footer .copyright {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 30px;
}

/* Socials */
.fa {
    padding: 15px;
    font-size: 25px;
    color: #626262;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0px 5px;
    border-radius: 50%;
}

.fa:hover {
    background-color: #8d8d8d;
    color: #fff;
}